.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{font-family:arial;}
label {display:block;margin-bottom:10px;}
input {width:200px;height:30px;border:transparent;background-color:#eee;margin-bottom:10px;padding:5px;margin-right:15px;}
button{padding:11.5px 15px;background-color:transparent;-webkit-box-shadow:none;box-shadow:none;outline:none;border:1px solid #222;display:inline-block;}
ul{margin:0;list-style:none;padding:15px 0 0;}
ul li{display:block;margin-bottom:15px;border-bottom:1px solid #ededed;padding-bottom:15px;}
span{display:block;margin-bottom:5px;}
